<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>

  <appSettings>
    <add key="FileWatcher.Path" value="c:\in\app-v2" />
    <add key="TradeContext.ConnectionString" value="Data Source=.\SQL2012DEV;initial catalog=GoingAsync;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add key="PartyEnricher.ApiBaseUrl" value="http://localhost/Sixeyed.GoingAsync.Stubs.PartyApi"/>
    <!--<add key="Queue.ValidateTradeMessage" value=".\private$\trade-validate" />
    <add key="Queue.EnrichParty1Message" value=".\private$\trade-enrich-party1" />
    <add key="Queue.EnrichParty2Message" value=".\private$\trade-enrich-party2" />-->
  </appSettings>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Sixeyed.GoingAsync.Core" 
           Message="Sixeyed.GoingAsync.Core.Messages.EnrichParty1Message" 
           Endpoint="trade-enrich-party1" />
      <add Assembly="Sixeyed.GoingAsync.Core"
           Message="Sixeyed.GoingAsync.Core.Messages.EnrichParty2Message"
           Endpoint="trade-enrich-party2" />
      <add Assembly="Sixeyed.GoingAsync.Core"
           Message="Sixeyed.GoingAsync.Core.Messages.ValidateTradeMessage"
           Endpoint="trade-validate" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <AuditConfig QueueName="audit" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework codeConfigurationType="Sixeyed.GoingAsync.Core.Model.TradeContextConfiguration, Sixeyed.GoingAsync.Core">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>